html{
	height:100%;
}

body { 
	font-family: 'Open Sans', sans-serif;
	color:#222222;
}

.navbar {
	background: #4DA35C;
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
}

.navbar h1 {
	padding:28px;
	margin:0;
}

p{
	margin: 0 0 0 20px;
}

.navbar h1 {
	color:#fff;
	font-family: 'Kaushan Script', cursive;
}

.img {
	width:180px;
	height:100px;
}

.clear {
	clear:both;
}

#weather {
	width:14.2%;
	float:left;
	position: relative;
	top:46px;
}

.weather-icon {
	font-size:11rem;
	margin-bottom: 36px;
	color:#b0b0b0;
}

#weatherApp {
	width:80%;
	margin:auto;
	
	position: relative;
}

.choose {
	width:320px;
	margin:auto;
}

.choose span {
	font-size:18px;
}

.choose select {
	font-size:22px;
	color:#4DA35C;
	margin-bottom: 18px;
	outline:none;
	font-weight: bold;
	border:none;
	border-bottom:1px solid #e3e3e3;
	z-index: 10000;
}

.weatherSlider {
	
}

.weatherDay {
	margin-bottom: 2px;
	font-size:20px;
}

.weatherMain{
	font-size:18px;
	color:#4DA35C;
}

.weatherTime {
	font-weight: bold;
}

.weatherUnit {
	position: absolute;
    top: -16px;
    right: 100px;
    font-size: 24px;
    font-weight: bold;
    color: #4DA35C;
}

.hideScroll {
	width:100%;
	background: #fff;
	height:30px;
	position: relative;
	bottom:12px;
}

.hideScrollLeft {
	height: 6px;
	background: #fff;
	width:30px;
	position: absolute;
    left: 0;
    bottom: 0;
}

#left img{
	position: absolute;
	left:26px;
	margin-top:130px;
	width:60px;
	height:60px;
}

#left:hover{
	cursor: pointer;
}

#right:hover{
	cursor: pointer;
}

#right img{
	position: absolute;
	right:26px;
	margin-top: 130px;
	width:60px;
	height: 60px;
}

#radioBtns {
	margin-top:30px;
	margin-right:60px;

}

#radioBtns #morn,#radioBtns #eve,#radioBtns #night{
	display: none;
}

.timeBtn{
	background: #fff;
	color:#000;
	-webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.timeBtn:hover{
	background: #4DA35C;
	color:#fff;
	border:1px solid #fff;
}

#morn:active + label{
	background: #4DA35C;
	color:#fff;
	border:1px solid #fff;
}

#radioBtns label {
	cursor: pointer;
}


/* Iphone 6plus */
@media screen and (max-width:414px) {
	#weatherApp {
		width:92%;
	}

	.day {
		margin-bottom: 30px;
	}

	#weather {
		width:25%;
	}

	.weather-icon{
		font-size:5rem;
		margin-bottom: 18px;
	}
	.day p{
		font-size:18px;
		right:10px;
		font-size:14px;
		margin-left: 0;
	}
	.navbar h1 {
		padding: 10px 0;
	}
	#radioBtns {
		margin-top:10px;
		margin-right: 0;
	}
	.choose {
		width: 300px;
	} 
	.choose select {
		margin-bottom: 0;
	}
	.weatherUnit {
		font-size:18px !important;
	}
}

/* Laptops */
@media screen and (min-width: 1280px) and (max-width:1440px){
	.weatherUnit {
    right: 0;
}


